@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
  font-family: 'elsie';
  src: url('/fonts/elsie.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

 :root{
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary:'Elsie', serif;
  font-family: var(--font-family-primary);
  color: var(--color-light);
  background-color: var(--color-dark);
}


.font-p{
  font-family: var(--font-family-primary);
}

.font-e{
  font-family: var(--font-family-secondary);
}

.common_pad{
  padding: 90px 0;
}


.sustainability .swiper-wrapper{
  margin: -60px;
  padding: 60px;
}


.swiper-scrollbar-drag {
  background: #4F8B00 !important; 
  border-radius: 10px; 
}

.swiper-vertical > .swiper-scrollbar {
  height: 150px !important; 
  top: 50% !important;
  transform: translateY(-50%);
}

.texto {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

body{
overflow-x: hidden ;
}

